.container {
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    background-color: gray;
    transition: box-shadow 0.3s ease;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

.container:hover {
    box-shadow:4px 4px rgba(0, 0, 0, 0.3); /* Adds shadow when hovered */
    color: gray;
    background-color: white;
}